.appearance_page_theme-options.allinoneAdmin {
  /**********Blocks***********/
  /**********************/
  /**********Font Sizes************/
  /**********Spaces***********/
  /******************Animations****************/ }
  .appearance_page_theme-options.allinoneAdmin .text-left {
    text-align: left; }
  .appearance_page_theme-options.allinoneAdmin .text-right {
    text-align: right; }
  .appearance_page_theme-options.allinoneAdmin .text-center {
    text-align: center; }
  .appearance_page_theme-options.allinoneAdmin .fl {
    float: left; }
  .appearance_page_theme-options.allinoneAdmin .fr {
    float: right; }
  .appearance_page_theme-options.allinoneAdmin .block1 {
    width: 8.3%; }
  .appearance_page_theme-options.allinoneAdmin .block2 {
    width: 16.6%; }
  .appearance_page_theme-options.allinoneAdmin .block3 {
    width: 25%; }
  .appearance_page_theme-options.allinoneAdmin .block4 {
    width: 33.2%; }
  .appearance_page_theme-options.allinoneAdmin .block5 {
    width: 41.5%; }
  .appearance_page_theme-options.allinoneAdmin .block55 {
    width: 48.8%; }
  .appearance_page_theme-options.allinoneAdmin .block6 {
    width: 49.8%; }
  .appearance_page_theme-options.allinoneAdmin .block7 {
    width: 58.1%; }
  .appearance_page_theme-options.allinoneAdmin .block8 {
    width: 66.4%; }
  .appearance_page_theme-options.allinoneAdmin .block9 {
    width: 75.1%; }
  .appearance_page_theme-options.allinoneAdmin .block10 {
    width: 83%; }
  .appearance_page_theme-options.allinoneAdmin .block11 {
    width: 91.3%; }
  .appearance_page_theme-options.allinoneAdmin .block12 {
    width: 100%; }
  .appearance_page_theme-options.allinoneAdmin .f14 {
    font-size: 14px; }
  .appearance_page_theme-options.allinoneAdmin .f15 {
    font-size: 15px; }
  .appearance_page_theme-options.allinoneAdmin .f16 {
    font-size: 16px; }
  .appearance_page_theme-options.allinoneAdmin .f17 {
    font-size: 17px; }
  .appearance_page_theme-options.allinoneAdmin .f18 {
    font-size: 18px; }
  .appearance_page_theme-options.allinoneAdmin .f19 {
    font-size: 19px; }
  .appearance_page_theme-options.allinoneAdmin .f21 {
    font-size: 21px; }
  .appearance_page_theme-options.allinoneAdmin .f20 {
    font-size: 20px; }
  .appearance_page_theme-options.allinoneAdmin .f22 {
    font-size: 22px; }
  .appearance_page_theme-options.allinoneAdmin .f23 {
    font-size: 23px; }
  .appearance_page_theme-options.allinoneAdmin .f25 {
    font-size: 25px; }
  .appearance_page_theme-options.allinoneAdmin .f26 {
    font-size: 26px; }
  .appearance_page_theme-options.allinoneAdmin .f27 {
    font-size: 27px; }
  .appearance_page_theme-options.allinoneAdmin .f28 {
    font-size: 28px; }
  .appearance_page_theme-options.allinoneAdmin .f29 {
    font-size: 29px; }
  .appearance_page_theme-options.allinoneAdmin .f30 {
    font-size: 30px; }
  .appearance_page_theme-options.allinoneAdmin .f31 {
    font-size: 31px; }
  .appearance_page_theme-options.allinoneAdmin .f32 {
    font-size: 32px; }
  .appearance_page_theme-options.allinoneAdmin .f33 {
    font-size: 33px; }
  .appearance_page_theme-options.allinoneAdmin .f34 {
    font-size: 34px; }
  .appearance_page_theme-options.allinoneAdmin .f35 {
    font-size: 35px; }
  .appearance_page_theme-options.allinoneAdmin .f36 {
    font-size: 36px; }
  .appearance_page_theme-options.allinoneAdmin .f37 {
    font-size: 37px; }
  .appearance_page_theme-options.allinoneAdmin .f100 {
    font-size: 100px; }
  .appearance_page_theme-options.allinoneAdmin .f110 {
    font-size: 110px; }
  .appearance_page_theme-options.allinoneAdmin .space05 {
    padding-top: 0.5em; }
  .appearance_page_theme-options.allinoneAdmin .space1 {
    padding-top: 1em; }
  .appearance_page_theme-options.allinoneAdmin .space2 {
    padding-top: 2em; }
  .appearance_page_theme-options.allinoneAdmin .space3 {
    padding-top: 3em; }
  .appearance_page_theme-options.allinoneAdmin .space4 {
    padding-top: 4em; }
  .appearance_page_theme-options.allinoneAdmin .space5 {
    padding-top: 5em; }
  .appearance_page_theme-options.allinoneAdmin .space6 {
    padding-top: 6em; }
  .appearance_page_theme-options.allinoneAdmin .space7 {
    padding-top: 7em; }
  .appearance_page_theme-options.allinoneAdmin .space8 {
    padding-top: 8em; }
  .appearance_page_theme-options.allinoneAdmin .space9 {
    padding-top: 9em; }
  .appearance_page_theme-options.allinoneAdmin .space10 {
    padding-top: 10em; }
  .appearance_page_theme-options.allinoneAdmin .clear {
    clear: both; }
  .appearance_page_theme-options.allinoneAdmin.ui-dialog-open #wpwrap {
    filter: blur(3px);
    margin-top: -32px;
    padding-top: 32px; }
  .appearance_page_theme-options.allinoneAdmin .theme_panel .title h2 {
    font-size: 20px;
    padding-left: 8px; }
  .appearance_page_theme-options.allinoneAdmin .flexbox {
    display: -webkit-box;
    -webkit-box-flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flexbox;
    display: flex; }
  .appearance_page_theme-options.allinoneAdmin h2.title {
    font-weight: 200;
    font-size: 48px; }
  .appearance_page_theme-options.allinoneAdmin .grey-bg {
    background-color: #23282d; }
  .appearance_page_theme-options.allinoneAdmin .white {
    color: #fff; }
  .appearance_page_theme-options.allinoneAdmin .black {
    color: #000; }
  .appearance_page_theme-options.allinoneAdmin .normal[class] {
    font-weight: normal; }
  .appearance_page_theme-options.allinoneAdmin .bold[class] {
    font-weight: bold; }
  .appearance_page_theme-options.allinoneAdmin .semibold[class] {
    font-weight: 400; }
  .appearance_page_theme-options.allinoneAdmin .uppercase {
    text-transform: uppercase; }
  .appearance_page_theme-options.allinoneAdmin .underline {
    text-decoration: underline; }
  .appearance_page_theme-options.allinoneAdmin .normalcase {
    text-transform: none; }
  .appearance_page_theme-options.allinoneAdmin .overflow-hidden {
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
  .appearance_page_theme-options.allinoneAdmin .adminopt {
    min-height: 100%; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .opts {
    min-height: 85vh; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .opts .menu {
    background-color: #23282d;
    max-height: 79vh;
    min-width: 130px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 0;
    position: relative;
    width: 12%;
    z-index: 100; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .opts .contents {
    background-color: #fafafa;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em 0 10px;
    position: relative;
    width: 88%; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .opts .contents table {
    display: block;
    float: left;
    width: 100%; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .contents table tr {
    display: none;
    width: 800px; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .contents table tr.active {
    display: block;
    opacity: 0;
    animation: fadeLeft 0.2s ease forwards;
    -webkit-animation: fadeLeft 0.2s ease forwards; }
  .appearance_page_theme-options.allinoneAdmin .adminopt #live_preview {
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    height: 100vh;
    width: 68%;
    position: relative;
    overflow: scroll; }
  .appearance_page_theme-options.allinoneAdmin .adminopt #live_preview .body, .appearance_page_theme-options.allinoneAdmin .adminopt #live_preview .body * {
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .contents table tr th {
    background-color: #ddd;
    padding: 10px 14px;
    text-align: left;
    width: 160px; }
  .appearance_page_theme-options.allinoneAdmin .adminopt #live_preview .body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .appearance_page_theme-options.allinoneAdmin .adminopt .opts .contents::before {
    background-color: #23282d;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title {
    display: block;
    font-weight: lighter;
    padding: 8px 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title .dashicons-before::before {
    z-index: 100;
    color: #fff;
    position: relative; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title:before {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #32373c;
    left: -100%; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title.active:before {
    background-color: #0073aa; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title h4 {
    position: relative;
    z-index: 100; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title:hover::before, .appearance_page_theme-options.allinoneAdmin .opts .menu .title.active::before {
    left: 0; }
  .appearance_page_theme-options.allinoneAdmin .opts .menu .title:active::before {
    margin-left: -0.5em;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s; }
  .appearance_page_theme-options.allinoneAdmin .adminopts tr td > div {
    padding-bottom: 5px; }
  .appearance_page_theme-options.allinoneAdmin .adminopts tr td h3 {
    color: #515151;
    display: block;
    font-size: 28px;
    font-weight: lighter;
    margin: 28px 0 5px;
    width: 100%; }
  .appearance_page_theme-options.allinoneAdmin .adminopts input, .appearance_page_theme-options.allinoneAdmin .adminopts select, .appearance_page_theme-options.allinoneAdmin .adminopts textarea {
    border: 1px solid;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5) inset;
    height: auto;
    padding: 5px;
    width: 70%; }
@keyframes fadeLeft {
  from {
    margin-left: -1em;
    opacity: 0; }
  to {
    margin-left: 0px;
    opacity: 1; } }
@-webkit-keyframes fadeLeft {
  from {
    margin-left: -1em;
    opacity: 0; }
  to {
    margin-left: 0px;
    opacity: 1; } }
  .appearance_page_theme-options.allinoneAdmin .ui-widget-overlay {
    background: #001A27; }
  .appearance_page_theme-options.allinoneAdmin #optiondialogpanel {
    overflow: hidden;
    position: relative; }
    .appearance_page_theme-options.allinoneAdmin #optiondialogpanel h3 {
      width: auto;
      display: inline-block;
      vertical-align: middle; }
    .appearance_page_theme-options.allinoneAdmin #optiondialogpanel i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 2em;
      font-size: 32px;
      margin-top: -8px;
      text-decoration: none; }
    .appearance_page_theme-options.allinoneAdmin #optiondialogpanel td > a {
      display: block;
      text-align: left;
      outline: none;
      padding: 5px;
      border: 1px solid transparent;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel td > a:active {
        transform: scale(0.95); }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel td > a:focus {
        outline: none;
        box-shadow: none; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel td > a:hover {
        border-color: inherit; }
    .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .primary-options.submenu_open {
      filter: blur(2px);
      transition: filter 0.3s ease;
      -webkit-transition: filter 0.3s ease; }
    .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options {
      position: absolute;
      top: 0;
      width: 50%;
      background-color: #fff;
      height: calc(100% - 26px);
      box-shadow: 0 0 30px 0;
      padding: 26px 40px 0;
      z-index: 1;
      right: -100%;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options.open {
        right: 0px; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options li {
        list-style: none;
        display: none; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options li.active {
        display: block; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options:before {
        background: #001A27;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        position: absolute;
        z-index: 0;
        opacity: 0; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options.open:before {
        opacity: 0.4; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options label {
        color: #0073aa;
        margin-right: 1em;
        min-width: 100px; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options li div {
        margin-bottom: 1em; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options li div > * {
        display: inline-block;
        vertical-align: middle; }
      .appearance_page_theme-options.allinoneAdmin #optiondialogpanel .sub_options .footer {
        position: absolute;
        bottom: 1em;
        right: 2em; }

/*# sourceMappingURL=admin.css.map */
